@import 'reset';
@import 'mixins';
@import 'helpers';

body {
  color: $default-text-color;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

select,
input {
  @include round-accent-border;
  background-color: #ffffff;
  box-sizing: border-box;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  padding: 0 5px;
  width: 100%;
}

label {
  display: block;
}
