$light-background-color: #f9fbfb;
$default-text-color: #333333;
$main-border-color: #a3c4c8;

$accent-text-color: #375f65;

$header-background-color: #004953;
$field-types-background-color: #eef4f5;
$add-field-background-color: #f9fbfb;

$tag-button-background-color: #eef4f5;
$save-button-background: #008ca5;
$selected-field-type-background-color: #007e94;
